Repository chrillep/vinyl-catalog, changes with the labels that .github/labeler.yml gives for each.
All labels: type:services, type:api, type:build, type:clients, type:web, type:components, dependencies, type:helper, type:models, type:hooks, type:pages, type:public, type:queries, type:server, type:styles, type:tests, type:theme, type:types, theme:docs

Update dependabot.yml
  .github/dependabot.yml
Labels: type:build

Update dependabot.yml
  .github/dependabot.yml
Labels: type:build

add lockfile
  Makefile
  clients/web/yarn.lock
Labels: type:clients, type:web

add getenv with fallback
  services/api/cmd/vinyl_catalog/main.go
Labels: type:services, type:api

move db route to handlers
  services/api/cmd/vinyl_catalog/handlers/handlers.go
  services/api/cmd/vinyl_catalog/main.go
Labels: type:services, type:api

db json resp
  Makefile
  services/api/cmd/vinyl_catalog/handlers/handlers.go
  services/api/cmd/vinyl_catalog/main.go
  services/api/go.mod
  services/api/go.sum
Labels: type:services, type:api

status
  services/api/cmd/vinyl_catalog/handlers/handlers.go
Labels: type:services, type:api

status
  services/api/cmd/vinyl_catalog/handlers/handlers_test.go
Labels: type:services, type:api

.github/labeler.yml:

type:services:
  - "services/**/*"

type:api:
  - "services/api/**/*"

type:build:
  - ".github/**/*"
  - ".gitignore"
  - ".eslintrc"
  - ".prettierrc"
  - ".babelrc"
  - ".npmrc"
  - ".nvmrc"

type:clients:
  - "clients/**/*"

type:web:
  - "clients/web/**/*"

type:components:
  - "components/**/*"

dependencies:
  - "package.json"
  - "yarn.lock"
  - "go.mod"

type:helper:
  - "utils/**/*"
  - "tools/**/*"

type:models:
  - "models/**/*"

type:hooks:
  - "hooks/**/*"

type:pages:
  - "pages/**/*"

type:public:
  - "public/**/*"

type:queries:
  - "queries/**/*"

type:server:
  - "server/**/*"

type:styles:
  - "styles/**/*"

type:tests:
  - "tests/**/*"
  - "cypress/**/*"
  - "__mocks__/**/*"
  - "cypress.json"
  - "cypress.env.json"
  - "jest.*.js"

type:theme:
  - "theme/**/*"

type:types:
  - "types/**/*"


theme:docs:
  - "README.md"
  - "LICENSE"
  - "CONTRIBUTING.md"
  - "CODE_OF_CONDUCT.md"
